

.custom-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px 30px 40px; /* Top 20px, Left/Right 40px, Bottom 40px */
  max-width: 350px;
  width: 80%;
  z-index: 10000;
  border-radius: 35px;
  border: 5px solid #B2B2B2;
 }
  .popup-content {
    text-align: center;
  }
   .popup-content button {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    background: #ff6961;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
   .popup-content button:hover {
    background: #ff5c5c;
  }
   /* page 1*/
 
 
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
   .close-button,
  .cart-button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 100px;
    padding: -20px;
  }
 
 
  .close-button {
    margin-left: -100; /* Pushes to the left */
  }
   .cart-button {
    margin-right: -100; /* Pushes to the right */
  }
 
 
 
 
  .site-name {
    color: #7AA672;
    font-size: 18px;
  }
   .warning-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
   .warning-icon img {
    max-width: 150px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
  }
   .confirmation-text {
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
    color: #1f2937;
  }
   .highlight {
    color: #ef4444;
    font-weight: 600;
  }
   .button-group {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
   .btn {
    padding: 8px 13px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s;
  }
   .btn-yes {
    background: #fee2e2;
    color: #dc2626;
  }
 
 
  .btn-yes:hover {
    background: #fecaca;
  }
   .btn-save {
    background: #f3f4f6;
 
 
    color: #4b5563;
  }
   .btn-save:hover {
    background: #e5e7eb;
  }
   .btn-no {
    background: #E2F2D9;
    color: #5E8E54;
  }
   .btn-no:hover {
    background: #c5deb7;
  }
 
 
 /* page 2*/
 .asking-text {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  color: #1f2937;
 }
 